<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183916938559-7he8g8ti449gqcsndu0ojt3oo81hco91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183916938559-7he8g8ti449gqcsndu0ojt3oo81hco91</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183916938559-kre9he8et3n163sfes3gg6bmpk89sejg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPM7qyW718xbbtLWkuoWsOycChOgMYxZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>183916938559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.bilouApp</string>
	<key>PROJECT_ID</key>
	<string>ace-duality-235323</string>
	<key>STORAGE_BUCKET</key>
	<string>ace-duality-235323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183916938559:ios:9f9f3eb5c1be12ea273f8a</string>
	<key>DATABASE_URL</key>
	<string>https://ace-duality-235323.firebaseio.com</string>
</dict>
</plist>